/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

$font-family: 'PingFang SC';

.v-application {
  [class*='text-'] {
    font-family: $font-family, sans-serif;
  }

  font-family: $font-family, sans-serif;
}